.axis-label {
    text-anchor: middle;
    font-size: 12px;
    font-weight: semibold;
}

body {
    font-family: "Open Sans";
    margin: 0;
}

#main {
    margin: 20px;
}

.hover-label {
    opacity: 0;
}

.hover-label:hover {
    opacity: 1.0;
    left: 50%;
    background-color: #bbbdc4;
}